@media (max-width: 600px) {
    body {
        background-color: rgb(90, 218, 160)
    }

    .form {
        grid-template-columns: 1fr;
    }

    .form label {
        text-align: left;
        margin-right: 0;
        font-size: larger;
        font-weight: bold;
    }

    .form input[type="radio"],
    .form label[for="graduatedYes"],
    .form label[for="graduatedNo"] {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
}

@media (min-width: 601px) {
    body {
        background-color: rgb(95, 85, 230)
    }

    .swiper-slide {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: auto;
    }

    .form {
        display: flex;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .form label {
        grid-column: 1;
        text-align: right;
        margin-right: 15px;
    }

    .input-field {
        grid-column: 2;
    }

    .form div:last-child{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .form input[type="radio"] {
        margin-right: 10px;
    }
}

header {
    text-align: center;
    padding: 20px;
}

.swiper { 
    width: 100%;
}

.swiper-slide {
    text-align: center;
    background: rgb(160, 100, 154);
    display: flex;
    justify-content: center;
}

.form {
    margin: 5px;
}

.form label {
    display: block;
    margin-bottom: 4px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

label.error {
    color:red;
    margin-left: 4px;
    font-weight: bolder;
}

input.error {
    border: 1px solid red;
    background-color: lemonchiffon;
}